<a href="https://colab.research.google.com/github/leeandrei/Intro-to-Numerical-Methods-/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Numerical Methods 
##Demonstration

In [4]:
b = "Sally"
b = int(4) #This will display a whole number 
b = "John"
b = float(4) #This will display a decimal number 

print(b)

4.0

In [5]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [10]:
b = 'Sally'
print(b)

Sally

In [13]:
b = 5
B = "Sally"

print(b,B)

5 Sally

In [22]:
x, y, z = "one","two","three"
print(x)
print(y)
print(z)

x = y = z = "four"
print(x,y,z)

one
two
three
four four four

In [26]:
#x = "enjoying"
#print("Python programming is " + x)

x = "Python programming is "
y = "enjoying"
z = x + y 
print(z)

Python programming is enjoying

In [30]:
x = 5 
y = 3
sum = x+y
#print(x+y)
print(sum)

8
8

In [36]:
a, b, c = 0, -1, 6
c %= 3  #This will display the remainder of 6 divided by 3 
c

0

In [39]:
x = 5
y = 3 
compare = x > y 

compare

True

In [41]:
x = 5
y = 3 

#x>x and y>y
x is not y

True

In [43]:
a, b, c = 0, -1, 5 
a is c

False